.outerStyle{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  overflow: auto;
  height: 100%;
  z-index: 10;
  overflow: scroll;
}

.overlay{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(5, 5, 20, 0.8);
}

.modal{
  position: relative;
  width: 600px;
  padding: 20px;
  box-sizing: border-box;
  background-color: #fff;
  margin: 40px auto;
  border-radius: 3px;
  z-index: 200;
  text-align: left;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2);
  position: relative;

  @media (max-width: 638px) {
    width: 500px;
  }

  @media (max-width: 500px) {
    width: 400px;
  }

  @media (max-width: 400px) {
    width: 320px;
  }
}

.close{
  background-color: transparent;
}