.feedback__name{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.doctor__name__feedback{
  margin: 0;
  color: #01b4f0;
}

.feedback_card{
  border: 1px solid #4fa7d8;
  padding: 19px;
  border-radius: 4px;
  margin-bottom: 8px;
}