.article_header{
  position: relative;
  color: #ffffff;
  span{
    margin-right: 20px;
  }
}
.general_info{
  width: 30%;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #4775d1;
  padding: 10px;
}