.modal-registration--background {
  background: transparent;
  animation: fadeIn 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 200;
  overflow: hidden;
  outline: 0; }

.modal-registration__body {
  display: flex; }
  .modal-registration__body form {
    width: 50%;
    text-align: center;
    padding-bottom: 40px; }
  .modal-registration__body img {
    width: 50%; }
  .modal-registration__body input {
    width: 70%;
    background-color: #e8e8e8;
    height: 29px;
    border: none; }
  .modal-registration__body input:not(lastchild) {
    margin-bottom: 19px; }
  .modal-registration__body input[type=date] {
    width: 33%; }
  .modal-registration__body input::placeholder {
    color: #90a4ae;
    font-size: 18px;
    font-weight: 700;
    padding-left: 10px; }
  .modal-registration__body label {
    color: #90a4ae;
    font-size: 1.1em;
    font-weight: 300;
    margin-right: 10px; }
  .modal-registration__body input[type=submit] {
    color: #fefefe;
    font-size: 16px;
    font-weight: 300;
    box-shadow: 0 4px 8px 1px rgba(28, 39, 40, 0.42);
    border-radius: 5px;
    background-color: #4fa7d8; }
  .modal-registration__body input[type=checkbox] {
    margin-bottom: 0;
    width: 10%;
    vertical-align: middle; }

.modal-registration__checkboxes {
  padding: 0 40px 0 68px;
  text-align: left; }
  .modal-registration__checkboxes label {
    color: #0b689a;
    font-size: 14px;
    font-weight: 700; }

.modal-registration__logo {
  background-image: url("../../images/SignUp-image.png");
  background-size: cover;
  width: 50%;
  text-align: center; }
  .modal-registration__logo a {
    background: linear-gradient(to top, #0288d1 0%, #5bb3e3 100%);
    color: #01b4f0;
    font-size: 6.06em;
    font-weight: 700;
    text-transform: uppercase;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Open Sans Condensed",sans-serif;
    position: absolute;
    top: 244px;
    right: 89px; }
  .modal-registration__logo::before {
    content: '';
    background: inherit;
    position: absolute;
    right: 74px;
    top: 230px;
    box-shadow: inset 0 0 0 200px rgba(255, 255, 255, 0.7);
    -webkit-filter: blur(10px);
    filter: blur(10px);
    width: 236px;
    height: 261px; }
  .modal-registration__logo img {
    width: 118px;
    display: block;
    margin: 0 auto; }

.modal-registration__content {
  position: relative;
  width: auto;
  max-width: 700px;
  margin: 30px auto;
  background-color: white; }

.modal-registration__signin-button {
  margin-top: 38px;
  margin-bottom: 68px; }

.modal-registration__title {
  color: #0b689a;
  font-size: 36px;
  font-weight: 700; }

@keyframes fadeIn {
  0% {
    background: transparent; }
  100% {
    background: rgba(0, 0, 0, 0.7); } }
