.registration{
  &--background{
    background:rgba(0,0,0,.0);
    animation: fadeIn .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 200;
    overflow: hidden;
    outline: 0;
  }

  &__body{
    display: flex;

    form{
      width: 50%;
      text-align: center;
      padding-bottom: 40px;
    }

    img{
      width:50%;
    }
    input{
      width: 70%;
      background-color: #e8e8e8;
      height: 29px;
      border:none;
      font-size: 0.8em;
      font-weight: 700;
      padding-left:10px ;
      color: #566b76;
    }
    input:not(lastchild){
      margin-bottom: 19px;
    }
    input[type=date]{
      width: 33%;
    }
    input::placeholder{
      color: #90a4ae;
      font-size: 1.1em;
      font-weight: 700;
      padding-left:10px ;
    }
    label{
      color: #90a4ae;
      font-size: 1.1em;
      font-weight: 300;
      margin-right: 10px;
    }
    input[type=submit]{
      color: #fefefe;
      font-size: 16px;
      font-weight: 300;
      box-shadow: 0 4px 8px 1px rgba(28, 39, 40, 0.42);
      border-radius: 5px;
      background-color: #4fa7d8;
    }
    input[type=checkbox]{
      margin-bottom: 0;
      width: 10%;
      vertical-align: middle;
    }
  }

  &__checkboxes{
    padding: 0 40px 0 68px;
    text-align: left;

    label{
      color: #0b689a;
      font-size: 14px;
      font-weight: 700;
    }
  }

  &__logo{
    background-image: url('../../images/SignUp-image.png');
    background-size: cover;
    width: 50%;
    text-align: center;
    a {
      background: linear-gradient(to top, #0288d1 0%, #5bb3e3 100%);
      color: #01b4f0;
      font-size: 6.06em;
      font-weight: 700;
      text-transform: uppercase;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-family: "Open Sans Condensed",sans-serif;
      position:absolute ;
      top: 244px;
      right: 89px;
    }

    &::before{
      content: '';
      background: inherit;
      position: absolute;
      right: 74px;
      top: 230px;
      box-shadow: inset 0 0 0 200px rgba(255, 255, 255, 0.7);
      -webkit-filter: blur(10px);
      filter: blur(10px);
      width: 236px;
      height: 261px;
    }

    img{
      width: 118px;
      display: block;
      margin: 0 auto;
    }
  }

  &__content{
    position: relative;
    width: auto;
    max-width: 700px;
    margin: 30px auto;
    background-color: white;
  }

  &__signin_button{
    margin-top: 38px;
    margin-bottom: 68px;
  }

  &__title{
    color: #0b689a;
    font-size: 36px;
    font-weight: 700;
  }
}

@keyframes fadeIn {
  0% {
    background:rgba(0,0,0,.0);
  }
  100% {
    background:rgba(0,0,0,.7);
  }
}




