.registration{
  &__body{
    display: flex;
    background-color: #f2f5fb;

    form{
      width: 50%;
      text-align: center;
      padding-bottom: 40px;
      @media (max-width: 764px) {
        width: 100%;
      }
    }

    img{
      width:50%;
    }
    input{
      width: 70%;
      background-color: #e8e8e8;
      height: 29px;
      border:none;
      font-size: 0.8em;
      font-weight: 700;
      padding-left:10px ;
      color: #566b76;
    }
    input:not(lastchild){
      margin-bottom: 19px;
    }
    input[type=date]{
      width: 33%;
    }
    input::placeholder{
      color: #90a4ae;
      font-size: 1.1em;
      font-weight: 700;
      padding-left:10px ;
    }
    label{
      color: #90a4ae;
      font-size: 1.1em;
      font-weight: 300;
      margin-right: 10px;
    }
    input[type=submit]{
      color: #fefefe;
      font-size: 16px;
      font-weight: 300;
      box-shadow: 0 4px 8px 1px rgba(28, 39, 40, 0.42);
      border-radius: 5px;
      background-color: #4fa7d8;
    }
    input[type=checkbox]{
      margin-bottom: 0;
      width: 10%;
      vertical-align: middle;
    }
  }

  &__checkboxes{
    padding: 0 40px 0 68px;
    text-align: left;

    label{
      color: #0b689a;
      font-size: 14px;
      font-weight: 700;
    }
  }

  &__logo{
    background-size: cover;
    width: 50%;
    text-align: center;
    @media (max-width: 764px) {
      display: none;
    }
    a {
      background: linear-gradient(to top, #0288d1 0%, #5bb3e3 100%);
      color: #01b4f0;
      font-size: 6.06em;
      font-weight: 700;
      text-transform: uppercase;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-family: "Open Sans Condensed",sans-serif;
      position:absolute ;
      top: 244px;
      right: 89px;
    }

    &::before{
      content: '';
      background: inherit;
      position: absolute;
      right: 74px;
      top: 230px;
      box-shadow: inset 0 0 0 200px rgba(255, 255, 255, 0.7);
      -webkit-filter: blur(10px);
      filter: blur(10px);
      width: 236px;
      height: 261px;
    }

    img{
      width: 118px;
      display: block;
      margin: 0 auto;
    }
  }

  &__content{
    position: relative;
    width: auto;
    max-width: 700px;
    margin: 30px auto;
    background-color: white;
    text-align: center;
  }

  &__signin_button{
    margin-top: 38px;
    margin-bottom: 68px;
  }

  &__title{
    color: #0b689a;
    font-size: 36px;
    font-weight: 700;
  }

  &__close{
    svg{
      path{
        fill:black;
      }
    }
  }
}

.logo__container {
   width: 50%;
   background-size: cover;
  @media (max-width: 766px) {
    display: none;
  }
   a {
     background: linear-gradient(to top, #0288d1 0%, #5bb3e3 100%);
     color: #01b4f0;
     font-size: 6.06em;
     font-weight: 700;
     text-transform: uppercase;
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
     margin: 200px auto 0;
     display: block;
   }
 }
@keyframes fadeIn {
  0% {
    background:rgba(0,0,0,.0);
  }
  100% {
    background:rgba(0,0,0,.7);
  }
}

.login__button {
  font-size: 1.1em;
  font-weight: 700;
  background-color: #ff8533;
  margin-right: 10px;
  padding: 10px 27px;
  color: #fff;
  border-radius: 4px;
  transform-style: flat;
  transition: color 400ms ease-out;
  border: #ff8533;
}

.login__button:hover{
  background: transparent;
  color: #347ECF;
  border: 1px solid #347ECF;
}
.sign_up_button {
  @extend .login__button;
  background-color: #347ECF;
  border: #347ECF;
}

.signup{
  background-color: #f5f5f5;
  padding:10px;
  width: 100%;
  text-align: center;
  label {
    display: inline-block;
    color: #4775d1;
    font-size: 1.3em;
    margin-top: 15px;
    width: 34%;
    text-align: right;
  }

  input{
    color: #4775d1;
    font-size: 1em;
    width: 57%;
    border-radius: 10px;
    box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.1);
    border: none;
    padding: 12px 20px;
  }
  input::placeholder{
    color: #000;
    font-size: 1.1em;
    font-weight: 700;
    padding-left: 10px;
  }
}

.registration__checkboxes{
  input{
    width: 5%;
    box-shadow: none;
  }
  label{
    font-size: 0.9em;
    width: 71%;
  }
}

.btn__signup {
  padding: 8px 20px;
  background-color: #4775d1;
  border: 1px solid #4775d1;
  border-radius: 3px;
  color: #ffffff;
  font-size: 1em;
  margin-top: 20px;

  &:hover{
    background-color: #ffffff;
    border: 1px solid #4775d1;
    color:#4775d1;
  }
}

.signin{
  @extend .btn__signup;
  padding: 10px 30px;
  margin-bottom: 20px;
}

.error{
  color: #ff5050;
}

.close{
  transition: color 1s;
}
.close:hover{
  path{
    fill: #fff;
  }
}
.forgot{
  background-color: #f5f5f5;
  padding:80px;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  label {
    display: inline-block;
    color: #4775d1;
    font-size: 1.3em;
    margin-top: 15px;
    width: 14%;
    text-align: right;
  }

  input{
    color: #4775d1;
    font-size: 1em;
    width: 77%;
    border-radius: 10px;
    box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.1);
    border: none;
    padding: 12px 20px;
  }
  input::placeholder{
    color: #000;
    font-size: 1.1em;
    font-weight: 700;
    padding-left: 10px;
  }
}

.forgot_title{
  color: #4775d1;
  font-size: 2.2em;
  text-align: center;
}

.forgot_btn{
  padding: 8px 20px;
  background-color: #4775d1;
  border: 1px solid #4775d1;
  border-radius: 3px;
  color: #ffffff;
  font-size: 1em;
  margin-top: 11px;
  margin-left: 20px;

  &:hover{
    background-color: #ffffff;
    border: 1px solid #4775d1;
    color:#4775d1;
  }
}