.privacy {
    max-width: 80%;
    margin: 0 auto;
    font-size: 1.3em;
    text-align: justify;

    h2 {
        color: #4775d1;
        text-align: center;
        font-size: 2em;
    }

    h4 {
        color: #4775d1;
    }
    .introduction {
        width: 80%;
        border-left: 15px solid #ff8533;
        margin: 0 auto;
        font-weight: 700;
        padding-left: 20px;
        color: #666666;
        font-style: italic;
    }

}