@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700');

:global {
  @import '../../common';
}

.header__container {
  box-shadow: 0 0 8px 1px rgba(28, 39, 40, 0.56);
  background-color: #ffffff;
  opacity: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  margin-bottom: 101px;
  @media (max-width: 1300px) {
    //padding-bottom: 90px;
  }

  @media (max-width: 980px) {
    padding-bottom: 20px;
  }

  @media (max-width: 500px) {
    justify-content: center;
    flex-wrap: wrap;
  }
}

.container__buttons {
  display: flex;
  opacity: 1;
  @media (max-width: 1101px) {
    justify-content: center;
  }
}

.logo {
  a {
    background: linear-gradient(to top, #0288d1 0%, #5bb3e3 100%);
    color: #01b4f0;
    font-size: 6.06em;
    font-weight: 700;
    text-transform: uppercase;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

@media (max-width: 853px) {
  .logo {
    img {
      width: 70px;
    }
  }
}

@media (max-width: 1200px) {
  .logo {
    a {
      font-size: calc(36px + (75 - 24) * (100vw - 320px) / (1200 - 320));
    }
  }
}

.container__button_profile{
  padding: 8px 20px;
  background-color: #4775d1;
  border: 1px solid #4775d1;
  border-radius: 3px;
  color: #ffffff;
  margin-top: 20px;
  text-decoration: none;
  font-size: 1.4em;
  margin-right: 10px;
  font-weight: 700;

  &:hover{
    background-color: #ffffff;
    border: 1px solid #4775d1;
    color: #4775d1;
  }
}

.container__button_home {
  @extend .container__button_profile;
  background-color: #ff8533;
  border: 1px solid #ff8533;
}