@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700');

header{
  padding-bottom: 160px;
}
.container-buttons{
  display: flex;
 }
.logo{
  a{
    background: linear-gradient(to top, #0288d1 0%, #5bb3e3 100%);
    color: #01b4f0;
    font-family: "Open Sans Condensed",sans-serif;
    font-size: 97px;
    font-weight: 700;
    text-transform: uppercase;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
.login-button{
  color: #0a8cd3;
  font-family: "Open Sans Condensed",sans-serif;
  font-size: 25px;
  font-weight: 700;
  background-color: transparent;
  border: none;
}
.sign-up-button{
  @extend .login-button
}
.language-button{
 @extend  .login-button
}