.title {
    text-align: center;
    color: #245999;
    font-size: 2em;
}

.specialisation {
    background-color: #eaedf2;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 50px;
    align-items: stretch;
    @media only screen and (max-width: 1170px) {
        flex-wrap: wrap;
    }
    @media only screen and (max-width: 450px) {
        padding: 20px;
    }

    &__card {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: center;
        background-color: #fff;
        width: 17%;
        margin-right: 20px;
        padding: 24px;
        border-radius: 8px;
        @media only screen and (max-width: 450px) {
            margin-right: 0;
        }
        @media only screen and (max-width: 1170px) {
            width: 25%;
            margin-top: 20px;
        }
        @media only screen and (max-width: 1158px) {
            width: 33%;
            margin-top: 20px;
        }
        @media only screen and (max-width: 900px) {
            width: 65%;
            margin-top: 20px;
        }
        @media only screen and (max-width: 600px) {
            width: 80%;
            margin-top: 20px;
        }

        @media only screen and (max-width: 450px) {
            width: 100%;
            margin-top: 20px;
        }
        img {
            width: 100%;
            transition: all .4s ease-in-out;
            &:hover {
                transform: scale(1.15);
            }
        }

        header {
            position: relative;
        }
    }

    &__icon {
        position: absolute;
        top: 95%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #245999;
        padding: 5px 8px;
        border-radius: 4px;
    }

    &__title {
        color: #3b475f;
        text-align: center;
        margin-top: 40px;
    }

    &__description {
        color: #3b475f;
        font-weight: 400px;
        text-align: center;
        padding-bottom: 15px;
    }

    &__link {
        margin-top: auto;
        text-align: center;
        border: 1px solid #245999;
        padding: 10px;
        border-radius: 4px;
        text-decoration: none;
        font-size: 18px;
        color: #245999;
        font-weight: 900;
        transition: color 0.7s;
        &:hover {
            background-color: #245999;
            color: #ffffff;
        }
    }
}