
:global { @import '../../calendar-styles'; }
.profile{

  &__title{
    color: #0b689a;
    font-size: 40px;
    font-weight: 300;
    text-align: center;
  }
}

.data{
  display: flex;
  justify-content: center;
  align-items: stretch;

  &__user_photo{
    width: 15%;
    text-align: center;
    background-color: #4fa7d8;
  }

  &__information{
    width: 70%;
    background-color: #e1f7fd;
  }

  &__title{
    margin: 0;
    padding: 3px;
    background-color: #4fa7d8;
    color: #fff;
  }
}

.h__header{
  height: 32px;
  background-color: #e1f7fd;
}

.rbc-month-view{
  background-color: white;
}

.doctor-cards__widjet__rate{
  width: 57%;
}

.user_photo{
  padding: 15px;
}

.container__profile{
  background-image: url(../../images/main.png);
  background-size: cover;
  width: 100%;
  background-repeat: no-repeat;
  min-height: 340px;
}