.rbc-month-view{
  background-color: white;
}

.logo {
  box-shadow: 0 0 8px 1px rgba(28, 39, 40, 0.56);
  background-color: #ffffff;
  opacity: 0.8;
  a {
    background: linear-gradient(to top, #0288d1 0%, #5bb3e3 100%);
    color: #01b4f0;
    font-size: 3.06em;
    font-weight: 700;
    text-transform: uppercase;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-left: 20px;
  }
  img{
    width: 70px;
  }
}

