.rbc-month-view {
  background-color: #fff;
}
.rbc-month-header{
  background-color:#4eb2ea;
  color: #fff;
  font-size: 20px;
}
.rbc-toolbar .rbc-toolbar-label {
  color: #01b4f0;
  font-size: 20px;
  font-weight: 700;
  text-decoration: underline;
}
//.rbc-day-bg + .rbc-day-bg{
//  border:transparent;
//}
//.rbc-month-row + .rbc-month-row {
//  border: 2px solid #01b4f0;
//}
//.rbc-month-row + .rbc-month-row {
//
//  border: 2px solid #01b4f0;
//}


.rbc-day-bg{
  border: 2px solid  #01b4f0;
}
.rbc-month-row + .rbc-month-row {
  border: transparent;
}
.rbc-day-bg + .rbc-day-bg {
   border-left: 2px solid transparent;
}
.rbc-month-row + .rbc-month-row {
  border-top: 1px solid #01b4f0 !important;
}

.rbc-row .rbc-date-cell > a, .rbc-date-cell > a:active, .rbc-date-cell > a:visited{
  color: #01b4f0;
  font-size: 24px;
}

.rbc-toolbar .rbc-btn-group button {
  color: #01b4f0;
  font-weight:700;
}

.rbc-event-content{
  padding: 8px 0;
}