.doctor__card {
    background-color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
    position: relative;
    border-radius: 8px;

    &::before {
        content: "";
        width: 100%;
        height: 12px;
        position: absolute;
        top: 0;
        left: 0;
        background-color: #ff8533;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
    }
}

.doctor__img {
    width: 100px;
}

.doctor__name {
    color: #0b689a;
    font-size: 20px;
    font-weight: 700;
    margin: 0;
}

.doctor__position {
    color: #0b689a;
    font-size: 14px;
    font-weight: 300;
    margin: 0;
}

.doctor__address {
    color: #0b689a;
    font-size: 14px;
    font-weight: 700;
    margin: 0;
}

.doctor__works {
    margin: 0;
    color: #0b689a;
    font-size: 14px;
    font-weight: 300;
}

.main_info {
    margin-left: 10px;
}

.map {
    height: 620px;
    width: 100%;

    @media (max-width: 1230px) {
        width: 100%;
        order: 10;
        height: 300px;
    }
    .infoBox {
        width: 333px !important;
    }
}

.map_container {
    height: 620px;
    width: 100%;

    @media (max-width: 1230px) {
        width: 100%;
        order: 10;
        height: 200px;
    }

    @media (max-width: 1200px) {
        font-size: calc(12px + (24 - 12) * (100vw - 320px) / (1200 - 320));
    }
}