
.container__search{
  background-image: url(../../images/main.png);
  background-size: cover;
  width: 100%;
  background-repeat: no-repeat;
  min-height: 440px;
  padding-bottom: 190px;

  @media (max-width: 970px) {
    padding-bottom: 0;
  }
}