.container__search {
    background-image: url(../../images/main.png);
    background-size: cover;
    width: 100%;
    background-repeat: no-repeat;
    min-height: 440px;

    @media (max-width: 970px) {
        padding-bottom: 0;
    }
}

.title__doctor {
    text-align: center;
    color: #245999;
    font-size: 2em;
}