@import url("https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300");
@import url(~slick-carousel/slick/slick.css);
@import url(~slick-carousel/slick/slick-theme.css);
.slider {
  max-width: 1000px;
  margin: 0 auto; }
  .slider__wrapper {
    background-color: #fcfbfb; }
  .slider__hr {
    background-color: #01b4f0;
    display: block;
    width: 88px;
    height: 2px;
    margin: 0 auto 20px; }

.blog-preview {
  background-color: #ffffff;
  margin: 15px; }
  .blog-preview__header {
    background-color: #1eb5ee;
    color: #ffffff;
    font-family: "Open Sans Condensed",sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    vertical-align: baseline;
    height: 50px;
    line-height: 50px; }
  .blog-preview__img-wrapper {
    height: 180px;
    position: relative; }
  .blog-preview__img {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%); }
  .blog-preview__text {
    text-align: left;
    color: #606066;
    font-family: "Open Sans Condensed",sans-serif;
    font-size: 14px;
    font-weight: 700;
    padding: 10px 20px;
    margin-bottom: 0;
    overflow: hidden; }
  .blog-preview__btn {
    width: 86px;
    height: 22px;
    display: block;
    margin: 0 auto;
    border-radius: 11px;
    background-color: #9f45cd;
    border: 0;
    color: #fefdff;
    font-family: "Open Sans Condensed",sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px; }
    .blog-preview__btn:hover {
      text-decoration: none;
      color: #fefdff; }
