@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
.slider__wrapper {
 background-color: transparent!important;
}
.slider {
  max-width: 1000px;
  margin: 50px auto;
  &__wrapper {
    background-color: #fcfbfb;
  }

  &__hr {
    background-color: #01b4f0;
    display: block;
    width: 88px;
    height: 2px;
    margin: 0 auto 20px;
  }
}

.blog-preview {
  background-color: #ffffff;
  margin: 15px;
  box-shadow: 2px 3px 8px 1px rgba(28, 39, 40, 0.42);
  padding-bottom: 20px;

  &__header {
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    vertical-align: baseline;
    height: 50px;
    line-height: 50px;
    box-shadow: 2px 3px 8px 1px rgba(28, 39, 40, 0.42);
    border-radius: 0 0 5px 5px;
    background-color: #5bb3e3;

  }
  &__img-wrapper {
    height: 180px;
    position: relative
  }
  &__img {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width:80%;

  }
  &__text {
    text-align: center;
    color: #0b689a;
    font-size: 18px;
    font-weight: 300;
    padding: 10px;
  }
  &__btn {
    width: 158px;
    height: 40px;
    display: block;
    margin: 0 auto;
    box-shadow: 2px 3px 8px 1px rgba(28, 39, 40, 0.42);
    border-radius: 5px;
    border: 1px solid #4fa7d8;
    background-color: #ffffff;
    color: #0b689a;
    font-size: 18px;
    font-weight: 700;
  }
}