.banner {
    background: url(../../images/main.png);
    height: 400px;
    background-attachment: fixed;
    margin-top: -101px;

    &__title {
        font-size: 3em;
        text-align: center;
        color: #4775d1;
        padding: 80px;
    }
}

.topic {
    width: 30%;
    &__headline {
        background-color: #4775d1;
        color: #ffffff;
        padding: 8px;
        width: 80%;
    }

    &__list {
        padding: 0;

        li {
            list-style: none;
            color: #193366;
            font-size: 1.2em;
            font-weight: 700;
            line-height: 36px;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;

            a {
                text-decoration: none;
                color: #193366;
            }
            &:hover a {
                color: #4775d1;
            }
        }
    }
}

.container_blog_h {
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
}

.recent {
    img {
        width: 120px;
    }

    &__list {
        padding: 0;
        li {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 20px;
            h5 {
                margin: 0;
                font-size: 1.0em;
            }
        }
    }
}

.blog {
    display: flex;
    justify-content: space-around;
}

.right {
    width: 100%;
}

.banner {
    background: url(../../images/staff-doctor.png);
    height: 400px;
    background-attachment: fixed;
    margin-top: -101px;

    @media (max-width: 600px) {
        height: 200px;
    }

    &__title {
        font-size: 4em;
        text-align: center;
        color: #4775d1;
        padding: 216px;
        font-weight: 900;

        @media (max-width: 600px) {
            padding: 80px;
        }
    }
}